.app.dark {
   --bg-color: #6610f2;
   --inverted-bg-color: #6f42c1;

   --primary-color: #f8f9fa;
   --secondary-color: #ffffff;
   --inverted-primary-color: #3949d6;
   --inverted-secondary-color: #463ebe;
}