.app_dark_theme {
   --bg-color: #6610f2;
   --inverted-bg-color: #6f42c1;
   --primary-color: #f8f9fa;
   --secondary-color: #c8def3;
   --inverted-primary-color: #27ccf5;
   --inverted-secondary-color: #1fccf7;
}
