.app.light {
   --bg-color: #c7c7ec93;
   --inverted-bg-color: #090949;

   --primary-color: #3949d6;
   --secondary-color: #463ebe;
   --inverted-primary-color: #049604;
   --inverted-secondary-color: #04ff04;
}