:root {
   --bg-color: #c7c7ec93;
   --inverted-bg-color: #5e8df3c0;
   --primary-color: #27ccf5;
   --secondary-color: #1fccf7;
   --inverted-primary-color: #3949d6;
   --inverted-secondary-color: #463ebe;
}
