.item {
   margin-top: 10px;
   display: flex;
   align-items: center;
}

.link {
   margin-left: 10px;
   opacity: 1;
}

.icon {
   fill: var(--inverted-primary-color);
}

.collapsed {
   width: var(--sidebar-width-collapsed);

   .link {
      opacity: 0;
      transition: 0.3s opacity;
      width: 0;
   }
}
